body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color:chocolate;
  color:#fff;
  height:90px;
}

.header-logo {
  float:left;
  font-size:36px;
  padding:20px 40px;
  
}

.header-logo a {
    color: #fff;
}

.header-list {
  float:left;
}

.header-list li {
  float:left;
  padding:33px 20px;
}

.header-list a {
    color: white;
}

.main {
  padding: 100px 80px;
}

.copy-container {
    text-align: center;
}

.copy-container h1{
  font-size:120px;
}

.copy-container h2{
  font-size:60px;
}

.copy-container span {
  color:brown;
}

.contents {
  height: 800px;
  margin-top: 100px;
  margin-right: auto;
}
.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.contents-item {
  float: left;
  margin-right: 90px;
}
.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}
.contents-item img {
    width: 150px;
    height: 150px;
    margin: 40px;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

.contact-form {
  padding-top: 100px;
}
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}
.contact-submit {
  background-color: red;
  color: white;
} 

.footer {
  background-color:brown;
  color:white;
  height: 120px;
  padding: 40px;
}
.footer-logo {
  float: left;
  font-size: 32px;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom: 20px;
} 

.harga p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn-wrapper p {
  margin: 10px 0;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: rgba(34, 49, 52, 0.9);
  cursor: pointer;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.5;
  border-radius: 4px;
  text-align: center;
}

.signup {
  background-color: #239b76;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
