/* Untuk Tablet */
@media (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .top-wrapper h1 {
        font-size: 32px;
    }

    .heading h2 {
        font-size: 20px;
        font-weight: normal;
    }

    .typewriter {
        display: inline-flex;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 0; /* Adjust as needed */
        animation: typing 5s steps(60, end), blink-caret .5s step-end infinite;
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 90%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from, to {
            border-color: transparent
        }
        50% {
            border-color: black;
        }
    }

}

/* Untuk Smartphone */
@media (max-width: 670px) {
    .btn {
        width: 100%;
    }

    .lesson {
        width: 100%;
    }

    .facebook {
        margin-bottom: 10px;
    }

    .top-wrapper {
        text-align: left;
    }

    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    footer {
        text-align: center;
    }

    .header-left {
        display: block;
        font-size: small;
    }

    .typewriter {
        animation: none;
        font-size: 18px;
        border-right: none;
        margin-bottom: 10px;
    }

    .bg-text h1 {
        letter-spacing: 3px;
    }

    .bg-text h3 {
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 100;
    }


}
