* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.fa-brands {
    color: ghostwhite;
    letter-spacing: 5px;
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-size: cover;
    color: white;
    text-align: center;
    background-color: whitesmoke;
}

.bg-image {
    background-image: url("../img/bg-header.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(235, 64, 52, 0.4); /* Black w/opacity/see-through */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 25px;

}

.bg-text h1 {
    letter-spacing: 6px;
}

.bg-text h3 {
    letter-spacing: 2px;
}

.top-wrapper h1 {

    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    -webkit-background-clip: text;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    -webkit-background-clip: text;

}


.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.buy {
    background-color: #239b76;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.fa-brands {
    margin-right: 5px;
}

.typewriter {
    display: inline-flex;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0; /* Adjust as needed */
    animation: typing 3s steps(55, end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 55%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

header {
    height: 65px;
    width: 100%;
    background: rgba(118, 118, 205, 0.7);
    background: linear-gradient(95deg, rgba(118, 118, 205, 1) 50%, rgba(0, 212, 255, 1) 100%);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
    opacity: 0.7;
}

.header-left {
    float: left;
    padding: 16px 0;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
}

.lesson-icon img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.lesson-icon button {
    color: black;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Ketik code Anda di bawah */
.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.footer-text {
    background: rgba(118, 118, 205, 0.7);
    background: linear-gradient(95deg, rgba(118, 118, 205, 1) 50%, rgba(0, 212, 255, 1) 100%);
}
