.cssanimation,
.cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span {
    display: inline-block
}

.hu__hu__ {
    animation: hu__hu__ infinite 2s ease-in-out
}

@keyframes hu__hu__ {
    50% {
        transform: translateY(30px)
    }
}

.product_item-image img:hover {
    filter: saturate(6);
}